## LAB 3

#### Q1

In [6]:
name=["Shivansh","Yajat","Suyash","Anshul","Harshit","Negi","Dhairya","Honey","Jayash","Vansh","Mridul"]
print("a-->",name[1])
print("b-->",name[9])
print("c-->",name[3:6])
print("d-->",name[::-1])
print("e-->",name[8:2:-1])

a--> Yajat
b--> Vansh
c--> ['Anshul', 'Harshit', 'Negi']
d--> ['Mridul', 'Vansh', 'Jayash', 'Honey', 'Dhairya', 'Negi', 'Harshit', 'Anshul', 'Suyash', 'Yajat', 'Shivansh']
e--> ['Jayash', 'Honey', 'Dhairya', 'Negi', 'Harshit', 'Anshul']

#### Q2

In [10]:
stu = ("Anshul","Honey","Avinash","Divij","Prish")
print("a-->")
for i in stu :
    print(i);
print(stu[1:4])
#cannot delete, add or modify elements as tuples are immutable

a-->
Anshul
Honey
Avinash
Divij
Prish
('Honey', 'Avinash', 'Divij')

#### Q3

In [22]:
dict={'Anshul':20,'Arjun':21,'Honey':19,'Avinash':20}
for name,age in dict.items():
    if age>20:
        print(f"{name}:{age}")
dict['Prish']=30
print("------------------------")
for name,age in dict.items():
    print(f"{name}:{age}")
print("------------------------")
if "Avinash" in dict:
    del dict["Avinash"]
for name,age in dict.items():
    print(f"{name}:{age}")
print("------------------------")
total=0;

Arjun:21
------------------------
Anshul:20
Arjun:21
Honey:19
Avinash:20
Prish:30
------------------------
Anshul:20
Arjun:21
Honey:19
Prish:30
------------------------